

* {
    padding: 0;
    margin: 0;
}

.core {
    /* background-color: blueviolet; */
    margin: auto;
    padding: 20px;
    width: 350px;
}

.login-form {
    max-width: 300px;
}

.login-form-forgot {
    float: right;
}

.ant-col-rtl .login-form-forgot {
    float: left;
}

.login-form-button {
    width: 100%;
}

.ant-form-item-control-input-content > a {
}
