.Sidebar-wrapper{
    width:200px;
    height: 1000px;
    border: 1px solid black;
    float: left;
}
.GridLayout{
    height: 1000px !important;
    width: 100%;
    margin-left: 200px;
}
.Sidebar-item{
    border:1px solid black;
}
.remove {
    z-index: 99;
}
.aside {
    float: left;
}